.component {
  text-align: center;
}

.body {
  display: inline-block;
  border: 1px solid lightgray;
  margin-top: 4rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  & input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #F2F2F2;
    color: gray;
    border: none;
  }

  & input:first-child {
    margin-top: 0;
  }

  & button {
    margin-top: 2rem;
    background-color: orange;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2px;
  }
}
