# Created by .ignore support plugin (hsz.mobi)
/.idea
/docker/node_modules
/build
/node_modules
/server/Pages/Components.generated.js
/server/Pages/webpack.manifest.json
/proxy/node_modules
/proxy/build
