.component {
    
}
.body {
  width: 80%;
  margin: 5rem auto;
}
.statName {
  font-size: 2rem;
}
.statNumber {
  font-size: 5rem;
  font-weight: bold;
}
.publicNodeHolder {
  margin: 2rem 0;
  line-height: 1.5rem;
}