:global(.pencilTheme) {
  & :global(.nodeTitle) {
    font-size: 2rem;
    font-weight: bold;
    border: none;

    &:not(:empty) {
      margin-bottom: 1rem;
    }

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ddd;
      font-style: italic;
    }
  }

  & :global(.nodeHtml) {
    line-height: 1.5rem;

    & h1 {
      font-family: 'Montserrat-Bold';
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & b {
      font-family: 'Montserrat-Bold';
    }

    & ol {
      margin-left: 1rem;
    }

    & li {
      margin-left: 1rem;
    }

    & ol {
      list-style: decimal;
    }

    & code {
      display: inline-block;
      background-color: #f6f8fa;
      padding: 0.8rem;
    }
  }
}

@media only screen and (min-device-width: 480px) {
  :global(.pencilTheme) {
    & :global(.nodeTitle) {
      font-size: 3rem;
    }
    & :global(.nodeHtml) {
      & h1 {
        font-size: 1.5rem;
      }
    }
  }
}