.component {
  margin-top: 0.5rem;
}

.contentEditable:focus {
  outline: none;
}

.editor {
  padding-left: 0.6rem;
  line-height: 1.5rem;
}

.editor h1 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.editor b {
  font-family: 'Montserrat-Bold';
}

.editor ol, li {
  margin-left: 1rem;
}

.editor ol {
  list-style: decimal;
}
