.component {
  text-align: center;
}

.header1 {
  font-size: 4rem;
  font-stretch: extra-expanded;
  font-weight: bolder;
  margin-top: 3rem;

}

.header2 {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: center;
}

.searchInput {
  height: 5rem;
  width: 50rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.result {
  display: inline-block;
  min-width: 50%;
  max-width: 50%;
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: left;
}

.resultEntry {
  margin-bottom: 1.5rem;
}

.table {
  font-weight: bold;
}

.description {
  margin-top: 0.5rem;
}