.component {
  & div[contentEditable=true]:focus {
      outline: none;
  }
}

.toolbarHolder {
  display: none;
}

.contentHolder {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


@media only screen and (min-device-width: 480px) {
  .toolbarHolder {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    padding: 0.1rem;
  }
  .contentHolder {
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    bottom: 2rem;
    overflow-y: auto;
    right: 0;
    left: 0;
  }
}