.component {
  & div[contentEditable=true]:focus {
    outline: none;
  }

  display: flex;
  flex-direction: column;
  flex: 1;
}

.topToolbarHolder {
  margin-right: 3rem;
}

.topToolbarHolder::-webkit-scrollbar {
  display: none;
}

.contentHolder {
  flex: 1;
  overflow-y: auto;
}

.toggleToolbarButton {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  top: 0.2em;
  justify-content: center;
  align-items: center;
  background-color: white;
  & i {
    width: 1rem;
    height: 1rem;
  }
}

.toggleToolbarButton:hover {
  background-color: #eee;
}

.toogleToolbarButton:hover {
  background-color: #ddd;
}

.displaynone {
  display: none;
}

:global(.ck.ck-editor__editable_inline) {
  padding: 0 !important;
}

:global(.ck.ck-toolbar.ck-rounded-corners) {
  border-top: none !important;
  border-radius: 0 !important;
}

.scrollbarContent {
}