import React from 'react';
import PropTypes from 'prop-types';

import styles from './{{component}}.scss';
export default class {{component}} extends React.Component{
    constructor(props) {
        super(props);
    }
    render()
    {
        return <div className={styles.component}>{{component}}
        </div>;
    }
}

{{component}}.propTypes = {
    //node: PropTypes.object
};
