.component {
  position: relative;
  display: inline-block;
  background-color: #f6f8fa;
}

.pre {
  padding: 1rem;
  min-width: 10rem;
  min-height: 10rem;
  display: inline-block;
  max-width: 80%;
}

.pre:focus {
  outline: none;
}

.threeDots {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
}