@import "./Constants.css";

.component {
    text-align: center;
    padding-top: 3rem;
}

.brandName {
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    color: darkorange;
    letter-spacing: 0.8rem;
    @media (--large) {
        font-size: 8rem;
    }
}

.slogan {
    font-family: 'SourceSansPro', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: gray;
    margin-top: 1rem;
    @media (--large) {
        font-size: 2rem;
    }
}

.createFormHolder {
    display: inline-block;
    padding: 2rem;

    text-align: left;
    line-height: 2em;

    & input {
        min-width: 20rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: lighter;
    }

    & label {
        font-weight: bold;
        margin-top: 1rem;
        display: block;
    }
}

.buttonCreate {
    border: 1px solid orange;
    background: darkorange;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    font-size: .75em;
    font-weight: 400;
    color: #505050;
    margin: 5rem 0 2rem;
}

.demoButtonHolder {
    margin-top: 3rem;
}
