.component {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #fdd947;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  box-shadow: 0 2px #EEDA7B;
  z-index: 100;
}

.left {

}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}