.component {
  font-family: "Montserrat-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

/** Scrollbar needs an element with height. We need an extra div to remove the flex auto height */
.treeContent {
  height: 100%;
  width: 100%;
  border: 1px solid darkgoldenrod;
  position: absolute;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.nodeViewHolder {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.editingNode {
  background-color: #204d74;
  color: white;
}

.treeToolTipHolder {
  display: none;
}

.contentPane {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}


.editing {
  & .contentPane {
    bottom: 0;
  }

  /*& .leftPaneHolder {
    display: none;
  }*/
}

.leftPaneHolder {
  flex: 0 0 20%;
  display: flex;
  background-color: #fbfbfb;
  max-width: 20rem;
}

.treeViewHolder {
  padding-left: 0.4rem;
}

.collapsedTree {
  background: darkgrey;
  color: white;
  display: inline-block;
  position: fixed;
  left: -3px;
  top: 3rem;
  height: 3rem;
  width: 0.6rem;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    width: 1.5rem;
  }
}

.doneEditButton {
  position: fixed;
  right: 1rem;
  bottom: 0.2rem;

  border: 1px solid grey;
  padding: 3px;
  border-radius: 2px;
}

.contentPaddingLeftRightPadding {
  padding-right: 20%;
  padding-left: 20%;
}

.contentPadding {
  padding: 1rem 2rem;
}

.contentPaneScrollbarHolder {
  margin-left: 3rem;
  margin-top: 1rem;
  box-sizing: padding-box;
}

@media only screen and (min-device-width: 480px) {
  .doneEditButton {
    display: none;
  }

  /*.editing {
    & .leftPaneHolder {
      display: initial;
    }
  }*/

  .treeToolTipHolder {
    display: block;
    position: fixed;
    bottom: 0;
    height: 1rem;
    line-height: 1rem;
    font-style: italic;
    color: gray;
    font-size: 0.8rem;
    vertical-align: bottom;
  }

  .contentPane.noTree {
    padding-right: 330px;
  }

  .treeActionButtonsHolder {
    display: none;
  }
}
