.component {
  font-family: "Montserrat-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nodeViewHolder {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.editingNode {
  background-color: #204d74;
  color: white;
}

.treeToolTipHolder {
  display: none;
}

.contentPane {
  position: fixed;
  top: 0;
  bottom: 50%;
  left: 0.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
}

.editing {
  & .contentPane {
    bottom: 0;
  }

  & .treeViewHolder {
    display: none;
  }
}

.treeViewHolder {
  overflow-x: hidden;
  overflow-y: hidden;

  border-top: 3px solid #c0c0c0;
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;

  padding-left: 0.4rem;
  background-color: #fbfbfb;
}

.collapsedTree {
  background: darkgrey;
  color: white;
  display: inline-block;
  position: fixed;
  left: -3px;
  top: 3rem;
  height: 3rem;
  width: 0.6rem;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    width: 1.5rem;
  }
}

.doneEditButton {
  position: fixed;
  right: 1rem;
  bottom: 0.2rem;

  border: 1px solid grey;
  padding: 3px;
  border-radius: 2px;
}

@media only screen and (min-device-width: 480px) {
  .doneEditButton {
    display: none;
  }

  .editing {
    & .treeViewHolder {
      display: initial;
    }
  }

  .treeToolTipHolder {
    display: block;
    position: fixed;
    bottom: 0;
    height: 1rem;
    line-height: 1rem;
    font-style: italic;
    color: gray;
    font-size: 0.8rem;
    vertical-align: bottom;
  }

  .contentPane {
    left: 330px;
    right: 0;
    bottom: 0;
  }

  .treeViewHolder {
    border-top: none;
    top: 0;
    bottom: 1rem;
    width: 300px;
  }

  .treeActionButtonsHolder {
    display: none;
  }
}
