.component {
    padding: 1rem;
  text-align: center;
}

.pencilTitleImageHolder {
  max-width: 100%;
}

.pencilTitleImageHolder img {
  max-width: 100%;
}

.inputLabel {
  display: block;
  margin-bottom: 0.7rem;
}

.input {
  border: none;
  border-bottom: 1px dashed lightgray;
  color: darkgray;
  font-size: 1.2rem;

  width: 100%;
}

.input:focus {
  outline: none;
  color: #111111;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: darkgray !important;
}

.separator {
  max-width: 8rem;
}

.imgName {
  position: relative;
  left: -0.4rem;
}

.imgPassword {
  position: relative;
  left: -0.2rem;
}

.imgPasswordAgain {
  position: relative;
  top: 1.6rem;
  margin-right: 0.8rem;
}

.captureIdeaHolder {
  margin: 2rem 0;
  & img {
    max-width: 70%;
  }
}

.inputHolder{
  text-align: left;
  padding: 0 3rem;
}

.passwordHolder {
  margin-top: 1.5rem;
}

.passwordAgainHolder {
  margin-top: 0.9rem;
}

.button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid darkgray;
  padding: 0.7rem 1.3rem;
  margin: 0 1rem;
  color: gray;
}

.button:hover {
  color: black;
  border-color: gray;
  cursor: pointer;
}

.message {
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: orangered;
}

.sectionHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.copyright {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: lighter;
  margin-top: 5rem;
  color: gray;
}
.form {
  margin-bottom: 3rem;
}

.acceptTermsConditions {
  font-style: italic;
  color: grey;
  margin-top: 2rem;
}
@media only screen and (min-device-width: 480px) {
  .component {
    padding-top: 5rem;
  }

  .sectionHeader {
    font-size: 2rem;
  }

  .inputLabel {
    display: inline-block;
  }

  .imgName {
    position: relative;
    top: 0.8rem;
    margin-right: 1rem;
    padding-left: 4.6rem;
  }

  .imgPassword {
    top: 0.7rem;
    margin-right: 1rem;
    padding-left: 3rem;
  }

  .form {
    text-align: center;
  }

  .inputHolder{
    padding: 0;
    max-width: 30rem;
    display: inline-block;
    text-align: center;
  }

  .separator {
    max-width: none;
  }

  .input {
    width: 50%;
  }

}