.scrollbarVerticalThumb {
  background-color: lightgray;
  max-width: 3px;
  margin-left: 3px;
  opacity: 0.2;
}

.scrollbarHorizontalThumb {
  background-color: lightgray;
  max-height: 3px;
  margin-top: 3px;
  opacity: 0.2;
}
