.component {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.buttonHolder {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.button {
  color: lightgray;
  border: 1px solid lightgray;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  display: table-cell;
  vertical-align: middle;
}
