.component {
}

.contentEditable {
  min-height: 5rem;
}

.contentEditable:global(.nodeTitle ) {
  min-height: initial;
}

.contentEditable:focus {
  outline: none;
}

.contentEditable.emptyMinimize {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: lightgray;
  font-style: italic;
  margin: 0 !important;
  font-weight: 100 !important;
}

.toolbarHolder {
  position: fixed;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 1px;
  visibility: hidden;
}