.component {
    margin-top: 1rem;
}

.contentEditable {
    min-height: 5rem;
    border: none !important;
    box-shadow: none !important;
}

.contentEditable:empty:before {
    content: '<no title>';
    display: block; /* For Firefox */
}

.contentEditable:empty {
    font-size: 1rem !important;
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: lightgray;
    font-style: italic;
    margin: 0 !important;
    font-weight: 100 !important;
}


.contentEditable:global(.nodeTitle ) {
    min-height: 1rem;
}

.contentEditable:focus {
    outline: none;
}
