.component {
  text-align: center;
  padding: 3rem 1rem;
}

.button {
  background-color: green;
  color: white;
  padding: 1rem;
  margin: 2rem 1rem 1rem;
}

.code {
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 2rem;
  display: inline-block;
  margin: 4rem 0;
}